body {
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 15px;
}

.mainBodyDiv {
  width: 80%;
  height: 500px;
  /* background-color: red; */
  margin: auto;
}

.imgDiv {
  width: 500px;
  height: 100px;
  /* background-color: blue; */
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
}

.logo {
  max-width: 500px;
  max-height: 100px;
}

.entryContainer {
  min-height: 700px;
  min-width: 600px;
  background-color: yellow;
}

.mainForm {
  /* background-color: red; */
  width: 70%;
  height: 1400px;
  margin: auto;
}

.formsContainer {
  position: relative;
}

.signupDiv, .loginDiv {
  position: absolute;
}

.signupDiv {
  visibility: hidden;
  text-align: center;
  width: 100%;
  /* background-color: green; */
}

.loginDiv {
  visibility: visible;
  text-align: center;
  width: 100%;
  /* background-color: yellow; */
}

/* Start of tabs css
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}
.tab button {
  width: 50%;
  /* background-color: inherit; */
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tablinks {
  margin-bottom: 15px;
}

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
/* End of tabs css
