/* div { outline: 1px solid red !important; } */

body {
  margin: 0;
  padding: 0;
}

input[name="check_in_date"], input[name="check_out_date"] {
  margin-right: 20px;
}

.mainBodyDiv {
  width: 90%;
  height: 500px;
  /* background-color: red; */
  margin: auto;
  position: relative;
  text-align: center;
}

.mainBodyDiv a {
  color: blue;
  display: block;
  margin-top: 15px;
}

.mainBodyDiv a:visited {
  color: blue;
}

.imgDiv {
  /* width: 500px; */
  height: 100px;
  /* background-color: blue; */
  margin-left: 140px;
  text-align: center;
  padding-bottom: 15px;
}

.menuDiv {
  display: none;
}

.menuImg:hover {
  cursor: pointer;
}

.logo {
  max-width: 500px;
  max-height: 100px;
}

.mbLeft {
  width: 130px;
  /* min-width: 130px; */
  /* background-color: yellow; */
  position: fixed;
  float: left;
  padding-left: 5px;
  padding-top: 100px;
}

.mbRight {
  min-width: 400px;
  height: 350px;
  /* background-color: green; */
  position: relative;
  margin-left: 140px;
}

.formDiv {
  text-align: center;
  padding-top: 15px;
  /* margin-right: 25px; */
}

.listingsSpan {
  width: 300px;
  height: 100px;
  background-color:  rgb(168,0,0);
  margin: auto;
  margin-top: 15px;
}

@media screen and (max-width: 730px) {
  /* .mainBodyDiv {
    width: 100%;
    background-color: yellow;
  }*/

  .menuDiv {
    display: block;
  }

  .menuImg {
    max-width: 50px;
  }

  .mbLeft{
    width: 100%;
    /* visibility: hidden; */
    /* max-width: 100%;*/
    /* min-width: 100%; */
    display: none;
    position: relative;
    /* text-align: center; */
    /* background-color: yellow; */
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    z-index: 10;
    padding-top: 0px;
  }

  .mbRight{
    z-index: 1;
    /* background-color: blue; */
    margin: 0 auto;
    display: block;
    /* margin-top: 140px; */
    /* float: left; */
  }

  .imgDiv {
    margin-left: 0px;
  }
  /*
  .mbRight {
    max-width: 100%;
    min-width: 100%;
    width: 100%; */
    /* display: block;
    position: relative; */
    /* background-color: blue; */
  /* } */
}
