<!doctypehtml>
<html>
  <head>
    <link rel="stylesheet" href="./css/main.css">

    <!-- javascript -->

    <!-- jQuery -->
    <script type="text/javascript" src="./jQuery/jquery-3.3.1.min.js">
    </script>
    <script type="text/javascript" src="./jquery/main.js"></script>
  </head>
  <body>
    <div class="mainBodyDiv">
      <div class="imgDiv">
        <img src="./images/mbnb.png"  class="logo"/>
      </div>
      <div class="menuDiv"><img src="./images/menu.png"  class="menuImg"/></div>
      <div class="mbLeft">
        <a href="#" id="lnkProfile">Profile</a>
        <a href="#" id="lnkManage">Manage your ads</a>
        <a href="#" id="lnkSearch">Search listings</a>
        <a href="#" id="lnkLogout">Log out</a>
      </div>
      <div class="mbRight">
        <div class="formDiv">
          <form action="#" method="post">
            <div><label>Check in date: </label>
            <input type="date" name="check_in_date" /></div>
            <div><label>Check out date: </label>
            <input type="date" name="check_out_date" /></div>

            <input type="submit" name="Submit" value="Check Available Listings" />
          </form>
        </div>
        <div class="listingsDiv">
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
          <div class="listingsSpan">
          </div>
        </div>
      </div>
    </div>
  </body>
  <foot>
  </foot>
</html>
